<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('commonLinks') %>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <title>Document</title>

</head>

<body>
    <%- include('navbar')  %>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body">
                            <form method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Username</label>
                                    <div class="col-md-6">
                                        <input autofocus id="username" type="text" name="username" placeholder="User Name" required="" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Password</label>
                                    <div class="col-md-6">
                                        <input id="password" name="password" placeholder="********" required="" type="password" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <input id="submit" value="Login" name="submit" type="submit" class="buttom btn btn-primary" />

                                        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
